$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial",sans-serif;

@include font-face("Oswald", 700, normal, url("..fonts/oswald/oswaldregular.woff2") format("woff2"));
@include font-face("lato", 400, normal, url("../source/fonts/lato/Lato-Regular.woff2") format("woff2"));
