$light-color: #ffffff;
$basic-green: #68b738;
$dark-color: #000000;
$basic-gray: #f2f2f2;
$special_grey: #cdcdcd;
$special_dark-grey: #444444;
$light-green: #5eaa2f;


$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

