.addition__title {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.addition__captiion {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.addition__text {
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
}
