.addition-card {
  font-size: 16px;
  line-height: 20px;
  color: $light-color;
  background-image: url("../../images/gift-bg-mobile@2x.jpg");
  background-blend-mode: overlay;
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  background-size: cover;
}
