.advantages__wrapper {
  margin-bottom: 60px;
}

.advantage-item__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $special_dark-grey;
}

@media screen and (min-width: $tablet-width) {
  .advantages {
    border-bottom: 1px solid #e6e6e6;
    background-color: $light-color;
  }

  .advantages__wrapper {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 13px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 57px;
    counter-reset: item 0;
  }

  .advantage-item__text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: $desktop-width) {
  .advantages {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }

  .advantages__wrapper {
    margin-bottom: 37px;
    padding-bottom: 0;
  }

  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px 77px;
  }
}
