.catalog-card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image  descr"
    "button button";
  row-gap: 13px;
  padding: 20px 0 24px;
  border-bottom: 1px solid #ebebeb;
}

.catalog-card__wrapper--all {
  position: relative;
  grid-template-columns: 1fr;
  grid-template-areas:
    "descr"
    "button";
  row-gap: 20px;
  padding-top: 80px;
  padding-bottom: 4px;
}

.catalog-card__img {
  grid-area: image;
}

.catalog-card__img img {
  object-fit: contain;
}

.catalog-card__img-all::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d3d3d3;
}

.catalog-card__img-all::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 30px;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d3d3d3;
}

.catalog-card__description {
  grid-area: descr;
}

.catalog-card__description--all {
  text-align: center;
}

.catalog-card__link {
  text-decoration: none;
}

.catalog-card__caption {
  margin: 0;
  margin-bottom: 15px;
  max-width: 70%;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.catalog-card__description--all .catalog-card__caption {
  max-width: 100%;
  margin-bottom: 7px;
}

.catalog-card__description .catalog-card__elem,
.catalog-card__description span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $special_dark-grey;
}

.catalog-card__elem {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 0;
}

.catalog-card__description--all .catalog-card__elem {
  justify-content: center;
}

.catalog-card__button {
  grid-column: 1 / 3;
  grid-area: button;
  align-self: end;
  padding: 10px;
}

@media screen and (min-width: $tablet-width) {
  .catalog-card__wrapper {
    position: relative;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "image  image"
      "descr  descr"
      "button button";
    padding: 54px 40px 40px;
    row-gap: 20px;

    &::before {
      position: absolute;
      content: "";
      inset: 125px 0 0;
      background-color: #f2f2f2;
      z-index: -2;
    }
  }

  .catalog-card__wrapper--all {
    padding-top: 75%;

    &::before {
      position: absolute;
      content: "";
      inset: 130px 0 0;
      background-color: transparent;
      border: 2px solid #cdcdcd;
      z-index: -2;
    }
  }

  .catalog-card__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .catalog-card__img-all {
    &::before {
      width: 62px;
      height: 2px;
      top: 37%;
      background-color: #d3d3d3;
    }

    &::after {
      width: 2px;
      height: 62px;
      top: 32%;
      background-color: #d3d3d3;
    }
  }

  .catalog-card__caption {
    max-width: 55%;
    margin: 0 auto 11px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-card__description--all .catalog-card__caption {
    max-width: 100%;
    margin-bottom: 14px;
  }

  .catalog-card__description {
    margin-bottom: 15px;
  }

  .catalog-card__description--all {
    padding: 0 16%;
  }

  .catalog-card__elem {
    padding-bottom: 2px;
    padding-top: 8px;
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog-card__description .catalog-card__elem,
  .catalog-card__description span {
    font-size: 16px;
    line-height: 20px;
  }

  .catalog-card__description--all .catalog-card__elem {
    line-height: 18px;
    border: none;
  }
}

@media screen and (min-width: $desktop-width) {
  .catalog-card {
    row-gap: 8px;
  }

  .catalog-card__img-all::before {
    top: 203px;
  }

  .catalog-card__wrapper--all {
    padding-bottom: 4px;
  }

  .catalog-card__caption {
    max-width: 95%;
    margin-bottom: 19px;
  }

  .catalog-card__description {
    margin-bottom: 15px;
  }

  .catalog-card__description--all {
    padding: 0;
    align-self: center;
  }

  .catalog-card__description--all .catalog-card__caption {
    margin-bottom: 20px;
  }

  .catalog-card__elem {
    padding-top: 4px;
    padding-bottom: 8px;
  }

  .catalog-card__button {
    margin-top: 10px;
  }

  .catalog-card__wrapper--all .catalog-card__button {
    align-self: center;
  }

  .catalog-card__button--all {
    margin: 0;
    margin-bottom: 7px;
  }
}
