.catalog-card__caption {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.catalog-card__description p,
.catalog-card__description span {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $special_dark-grey;
}

.secondary-button {
  color: $special_dark-grey;
  background-color: $basic-gray;
  border: none;
}
