.catalog-list {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

@media screen and (min-width: $tablet-width) {
  .catalog-list {
    grid-template-columns: 1fr 1fr;
    gap: 12px 62px;
  }
}

@media screen and (min-width: $desktop-width) {
  .catalog-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px 80px;
  }
}
