.slider {
  --value: 50%;
  position: relative;
  width: 280px;
  height: 256px;
}

.slider__img {
  position: absolute;
  top: 0;
  max-width: none;
  height: 100%;
  object-fit: cover;
}

.slider__img--before {
  left: 0;
  width: var(--value);
  object-position: left;
}

.slider__img--after {
  right: 0;
  width: calc(100% - var(--value));
  object-position: right;
}

.slider__range-visible {
  position: absolute;
  top: 0;
  left: var(--value);
  width: 4px;
  height: 100%;
  border-radius: 40px;
  background-color: #666666;
  transform: translateX(-50%);
  pointer-events: none;
  transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: #666666;
    mask-image: url("../../icons/icon-slider-arrows.svg");
    mask-size: 24px 18px;
    mask-repeat: no-repeat;
    mask-position: center;
    z-index: 2;
    transform: translate(-50%, -50%);
    transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #666666;
    transform: translate(-50%, -50%);
    transition: border-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
}

.slider__range-js {
  position: absolute;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  inset: 0;

  &:hover {
    background-color: $basic-green;
  }

  &:hover + .slider__range-visible,
  &:hover + .slider__range-visible::before {
    background-color: $basic-green;
  }

  &:hover + .slider__range-visible::after {
    border-color: $basic-green;
  }

  &:active + .slider__range-visible,
  &:active + .slider__range-visible::before {
    background-color: $light-green;
    opacity: 60%;
  }

  &:active + .slider__range-visible::after {
    border-color: $light-green;
    opacity: 60%;
  }
}

@media screen and (min-width: $tablet-width) {
  .slider {
    margin: 0 auto;
    width: 560px;
    height: 512px;
  }
}

@media screen and (min-width: $desktop-width) {
  .slider {
    width: 560px;
    height: 512px;
    margin-right: 3px;
  }
}
