.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 2px;
  letter-spacing: -1px;
}

.header__inner--container {
  padding-bottom: 10px;
}

.button--menu {
  position: relative;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: $light-color;

  & span {
    position: absolute;
    top: 35%;
    display: block;
    width: 25px;
    height: 2px;
    background-color: $dark-color;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 25px;
    height: 2px;
    background-color: $dark-color;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 7px;
    display: block;
    width: 25px;
    height: 2px;
    background-color: $dark-color;
  }
}

@media screen and (min-width: $tablet-width) {
  .header__inner {
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: flex-start;
  }

  .button--menu {
    display: none;
  }
}

@media screen and (min-width: $desktop-width) {
  .header__inner {
    position: relative;
    padding-top: 55px;
    padding-bottom: 25px;
    letter-spacing: 0;
  }
}
