.main-page {
  flex-grow: 1;
}

.main__page {
  min-width: 280px;
}

@media screen and (min-width: $desktop-width) {
  .main__page--bg {
    position: relative;
    margin-right: -110px;
    padding-right: 96px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 46.5%;
      right: 0;
      height: 100%;
      z-index: -2;
      background-image: url("../../images/index-background-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 46.5%;
      right: 0;
      height: 100%;
      z-index: -2;
      background-color: rgba(104, 183, 56, 0.85);
    }
  }
}

