.map {
  display: block;
  width: 100%;
  min-height: 320px;
  height: 362px;
  border: 0;
}

.map--nojs {
  display: none;
}

.map__image {
  display: none;
}

.map__image--nojs {
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

@media screen and (min-width: $tablet-width) {
  .map {
    height: 400px;
  }
}
