.nav-menu__link {
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-color;
}

.nav-menu__link--current {
  border-bottom: 2px solid $basic-green;
}
