.purpose-card {
  position: relative;
  padding: 20px;
  background-color: $basic-gray;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 12px;
    top: 23;
    width: 67px;
    height: 53px;
    background-position: right center;
    background-repeat: no-repeat;
  }

  &:first-child::before {
    background-image: url("../../icons/icon-purpose-cat-sits.svg");
  }

  &:nth-child(2)::before {
    background-image: url("../../icons/icon-purpose-cat-wild.svg");
  }
}

.purpose-card__subtitle {
  margin: 0;
  padding-left: 70px;
  padding-top: 10px;
  margin-bottom: 30px;
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.purpose-card__description {
  margin: 0;
  padding-bottom: 21px;
  font-family: $secondary-font;
  color: $special_dark-grey;
  border-bottom: 1px solid #d9d9d9;
}

.purpose-card__link {
  position: relative;
  display: inline-block;
  padding-top: 18px;
  padding-right: 60px;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-color;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 6L0.25 11.1962L0.25 0.803848L7 6Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: 12px 9px;
  background-repeat: no-repeat;
  background-position: 86% 89%;
  transition: opacity 0.3s ease-in-out, background-position 0.3s ease-in-out;

  &::before {
    position: absolute;
    content: "";
    right: 18%;
    top: 75%;
    width: 18px;
    height: 2px;
    background-color: $dark-color;
    transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
  }

  &:hover::before {
    right: 6%;
    width: 25px;
  }

  &:hover {
    // padding-right: 57px;
    background-position: 100% 89%;
  }

  &:active {
    opacity: 30%;
  }
}

@media screen and (min-width: $tablet-width) {
  .purpose-card {
    padding: 69px 320px 57px 51px;

    &::before {
      top: 10%;
      left: 56%;
      width: 300px;
      height: 300px;
      background-position: center 47px;
      background-size: 270px 214px;
    }

    &:first-child::before {
      background-position: 49% 41px;
      background-size: 199px 214px;
    }
  }

  .purpose-card__subtitle {
    margin-bottom: 25px;
    padding-left: 3px;
    font-size: 36px;
    line-height: 36px;
  }

  .purpose-card__description {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  .purpose-card__link {
    background-position: 89% 72%;
    background-size: 12px 9px;
    padding-right: 70px;
    padding-top: 15px;
    padding-left: 3px;
    font-size: 20px;
    line-height: 30px;

    &::before {
      top: 65%;
      right: 15%;
    }

    &:hover::before {
      right: 6%;
      width: 33px;
    }

    &:hover {
      background-position: 96% 72%;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .purpose-card {
    width: 47%;
    padding: 51px;
    padding-bottom: 59px;
    padding-top: 67px;

    &::before {
      width: 143px;
      height: 140px;
      top: 26px;
      left: 29px;
      background-position: right center;
      background-size: 136px 108px;
    }

    &:first-child::before {
      background-size: 136px 108px;
      background-position: right center;
    }
  }

  .purpose-card__subtitle {
    margin-bottom: 76px;
    margin-left: 116px;
    padding-left: 50px;
  }

  .purpose-card__description {
    margin-bottom: 6px;
  }

  .purpose-card__link {
    align-self: self-start;
    padding-top: 0;
    background-position: 89% 44%;

    &::before {
      top: 12px;
    }

    &:hover {
      background-position: 96% 44%;
    }
  }
}
