.purposes__wrapper {
  padding-bottom: 20px;
}

.purposes__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: $tablet-width) {
  .purposes__list {
    gap: 30px;
  }
}

@media screen and (min-width: $desktop-width) {
  .purposes {
    margin-bottom: 24px;
  }

  .purposes__list {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
    padding-top: 81px;
  }
}
