.purpose-card {
  position: relative;
  background-color: $basic-gray;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:first-child::before {
    width: 50px;
    height: 53px;
    background-image: url("../../icons/icon-purpose-cat-sits.svg");
  }

  &:nth-child(2)::before {
    width: 67px;
    height: 50px;
    background-image: url("../../icons/icon-purpose-cat-wild.svg");
  }
}

.purpose-card__subtitle {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.purpose-card__description {
  font-family: $secondary-font;
  color: $special_dark-grey;
}

.purpose-card__link {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-color;
  padding-right: 40px;
  background-image: url("../../icons/stack.svg#icon-arrow");
  background-size: 32px 10px;
  background-repeat: no-repeat;
  background-position: center right;
}
