@media screen and (min-width: $tablet-width) {
  .resuits-block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 162px;
  }
}

@media screen and (min-width: $desktop-width) {
  .resuits-block {
    grid-template-columns: 1fr;
    gap: 62px;
  }
}
