.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.subscribe__title {
  margin: 0;
  margin-bottom: 33px;
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 23px;
  text-align: center;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $dark-color;
}

.subscribe__input {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: $special_dark-grey;
  text-transform: uppercase;
  border: 1px solid $special_grey;
}

.subscribe__button {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  line-height: 26px;
}

@media screen and (min-width: $tablet-width) {
  .subscribe__title {
    margin-bottom: 65px;
    padding-left: 41px;
    font-size: 32px;
    line-height: 32px;
  }

  .subscribe__wrapper {
    align-items: center;
    padding: 0 40px;
    margin-bottom: 81px;
  }

  .subscribe__text {
    max-width: 90%;
    font-size: 24px;
    line-height: 32px;
  }

  .subscribe__form {
    display: flex;
    width: 100%;
    align-items: stretch;
  }

  .subscribe__form label {
    flex-grow: 1;
  }

  .subscribe__input {
    margin: 0;
  }

  .subscribe__button {
    max-width: 40%;
  }
}

@media screen and (min-width: $desktop-width) {
  .subscribe__wrapper {
    margin-bottom: 105px;
  }

  .subscribe__title {
    padding: 0;
    margin-bottom: 72px;
    font-size: 40px;
    line-height: 40px;
  }

  .subscribe__form {
    width: 66%;
  }

  .subscribe__button {
    max-width: 34%;
  }
}
